#red{
    background-color: red;
    color: antiquewhite;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
    color: antiquewhite;
}
#cyan{
    background-color: cyan;
}
#yellow{
    background-color: yellow;
}
#white{
    background-color: white;
}
#grey{
    background-color: grey;
}
#black{
    background-color: black;
    color: antiquewhite;
}
#lavender{
    background-color: lavender;
}
#purple{
    background-color: purple;
    color: antiquewhite;
}
#orange{
    background-color: orange;
}